/* Colors */
/* line 3, assets/css/sass/tenerifeingatlan.scss */
.fusion-header {
  position: relative;
  z-index: 100;
}

/* line 7, assets/css/sass/tenerifeingatlan.scss */
a.back-to-home {
  float: left;
  background: #dadada;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 8px;
  margin-right: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 19, assets/css/sass/tenerifeingatlan.scss */
a.back-to-home:hover {
  color: white !important;
}

/* line 23, assets/css/sass/tenerifeingatlan.scss */
#wrapper .fusion-widget-area .current-menu-item > a {
  color: white;
}

/* line 26, assets/css/sass/tenerifeingatlan.scss */
.fusion-main-menu .current-menu-item > a {
  color: white;
  background: #f7941f;
}

/* line 30, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-header {
  background: #47bfd6 !important;
  border-bottom-color: transparent !important;
  position: relative;
  z-index: 200;
}

/* line 36, assets/css/sass/tenerifeingatlan.scss */
.logo-slogan {
  color: #f7941f;
  font-weight: 700;
  font-size: 14px;
  margin: 2px 0 0 3px;
}

/* line 42, assets/css/sass/tenerifeingatlan.scss */
.fusion-main-menu {
  float: right;
}

/* line 45, assets/css/sass/tenerifeingatlan.scss */
.fusion-main-menu > ul > li > a {
  background: #008dd2;
  padding: 0 10px !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
}
/* line 53, assets/css/sass/tenerifeingatlan.scss */
.fusion-main-menu > ul > li > a:hover {
  color: white !important;
  background: #f7941f;
}

/* line 58, assets/css/sass/tenerifeingatlan.scss */
.fusion-main-menu > ul > li.current_page_item a {
  color: white !important;
  background: #f7941f;
}

/* line 63, assets/css/sass/tenerifeingatlan.scss */
.fusion-page-title-bar {
  background: #fff;
  border-top: none;
  border-bottom: 1px solid #e5e5e5;
}
/* line 68, assets/css/sass/tenerifeingatlan.scss */
.fusion-page-title-bar h1 {
  line-height: 24px;
}

/* line 73, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-menu > ul > li > a {
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Arial';
  line-height: 1;
}
/* line 79, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-menu > ul > li > a[href='/admin'] {
  background: #fc4226;
  font-weight: 400;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 87, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-menu > ul {
  float: right;
}

/* line 91, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-header .custom-secondary-header-holder {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
/* line 96, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-header .custom-secondary-header-holder .top-sec-menu {
  position: absolute;
  left: 40%;
  margin-top: 6px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 105, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-header .custom-secondary-header-holder .sec-header-wrap {
  width: 100%;
  height: 43px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}
/* line 113, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-header .custom-secondary-header-holder .sec-header-wrap .item.csh-socialling {
  padding-left: 15px;
}
/* line 116, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-header .custom-secondary-header-holder .sec-header-wrap .item.csh-notify {
  padding: 0 50px;
}

/* line 124, assets/css/sass/tenerifeingatlan.scss */
#notification {
  margin: 0 auto;
  margin-top: 15px;
}
/* line 128, assets/css/sass/tenerifeingatlan.scss */
#notification li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 5px;
}
/* line 134, assets/css/sass/tenerifeingatlan.scss */
#notification li a {
  position: relative;
  display: block;
  background: #008dd2;
  color: white;
  width: 42px;
  height: 42px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
}
/* line 151, assets/css/sass/tenerifeingatlan.scss */
#notification li a .num {
  top: 0;
  right: -50%;
  transform: translateX(-50%);
  position: absolute;
  background: #e31f24;
  color: #fff;
  font-size: 10px;
  font-weight: 100;
  width: 22px;
  height: 21px;
  text-align: center;
  padding: 0;
  line-height: 22px;
  vertical-align: middle;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 30px;
}
/* line 170, assets/css/sass/tenerifeingatlan.scss */
#notification li a:before {
  content: "";
  padding-top: 15px;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 183, assets/css/sass/tenerifeingatlan.scss */
#notification li.visited-adv a {
  background: #0ec5c7;
}
/* line 188, assets/css/sass/tenerifeingatlan.scss */
#notification li a:hover {
  background: #f7941f;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 195, assets/css/sass/tenerifeingatlan.scss */
#notification li.visited-adv a:before {
  background-image: url("images/ico-history.png");
}
/* line 198, assets/css/sass/tenerifeingatlan.scss */
#notification li.new-adv a:before {
  background-image: url("images/ico-house.png");
}

/* line 204, assets/css/sass/tenerifeingatlan.scss */
.header-search, .footer-search {
  margin-top: 27px;
  width: 200px;
  position: relative;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
/* line 212, assets/css/sass/tenerifeingatlan.scss */
.header-search input[type=text], .footer-search input[type=text] {
  border-color: #cccfd1;
  color: #f7941f;
  width: 100%;
  line-height: 30px;
  height: 30px;
  padding: 0 8px;
  padding-right: 33px;
}
/* line 222, assets/css/sass/tenerifeingatlan.scss */
.header-search button, .footer-search button {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
/* line 234, assets/css/sass/tenerifeingatlan.scss */
.header-search button i, .footer-search button i {
  line-height: 30px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #008dd2;
}
/* line 243, assets/css/sass/tenerifeingatlan.scss */
.header-search:hover, .footer-search:hover {
  width: 350px;
}

/* line 248, assets/css/sass/tenerifeingatlan.scss */
.header-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  margin: 0 0 10px 0;
}
/* line 255, assets/css/sass/tenerifeingatlan.scss */
.header-holder .fusion-logo {
  float: none;
  flex-basis: 20%;
  margin: 0;
}
/* line 260, assets/css/sass/tenerifeingatlan.scss */
.header-holder .side-of-logo {
  float: none;
  flex-basis: 80%;
}

/* line 266, assets/css/sass/tenerifeingatlan.scss */
.header-search {
  float: right;
  width: 320px;
  margin-bottom: 20px;
}

/* line 271, assets/css/sass/tenerifeingatlan.scss */
.footer-search {
  float: right;
}

/* line 275, assets/css/sass/tenerifeingatlan.scss */
.search-box {
  background: #fff;
}
/* line 278, assets/css/sass/tenerifeingatlan.scss */
.search-box .sb-inp-wrapper {
  padding: 0 5px;
}
/* line 282, assets/css/sass/tenerifeingatlan.scss */
.search-box .sb-header {
  background: #008dd2;
  color: white;
  font-size: 26px;
  text-transform: uppercase;
  font-size: 20px;
  padding: 8px 15px;
}
/* line 291, assets/css/sass/tenerifeingatlan.scss */
.search-box .sb-body {
  padding: 15px;
  border: 1px solid #cccfd1;
}
/* line 295, assets/css/sass/tenerifeingatlan.scss */
.search-box .sb-body label {
  font-size: 13px;
  margin-bottom: 4px;
  display: block;
  color: #878787;
}
/* line 303, assets/css/sass/tenerifeingatlan.scss */
.search-box .sb-body input[type=number],
.search-box .sb-body select {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  color: #f7941f;
}
/* line 314, assets/css/sass/tenerifeingatlan.scss */
.search-box .sb-footer {
  background: #f2f2f2;
  border: 1px solid #cccfd1;
  border-top: none;
  padding: 15px 15px;
}
/* line 320, assets/css/sass/tenerifeingatlan.scss */
.search-box .sb-footer a {
  font-size: 13px;
  color: #008dd2;
}

/* line 328, assets/css/sass/tenerifeingatlan.scss */
.footer-after-menu .social-links, .footer-after-menu .footer-search {
  display: inline-block;
  *display: inline;
  zoom: 1;
  float: right;
  height: 30px;
}
/* line 335, assets/css/sass/tenerifeingatlan.scss */
.footer-after-menu .footer-search {
  margin: 0;
  width: 250px;
}
/* line 339, assets/css/sass/tenerifeingatlan.scss */
.footer-after-menu .footer-search input[type=text] {
  height: 30px;
  line-height: 30px;
}
/* line 345, assets/css/sass/tenerifeingatlan.scss */
.footer-after-menu .social-links {
  margin: 0 25px;
}
/* line 347, assets/css/sass/tenerifeingatlan.scss */
.footer-after-menu .social-links .fusion-social-networks-wrapper {
  padding: 0 5px;
}
/* line 350, assets/css/sass/tenerifeingatlan.scss */
.footer-after-menu .social-links a {
  margin: 0 !important;
  line-height: 30px;
  color: white !important;
}

/* line 360, assets/css/sass/tenerifeingatlan.scss */
.fusion-widget-menu li a {
  text-transform: uppercase;
  text-align: center !important;
}

/* line 366, assets/css/sass/tenerifeingatlan.scss */
.fusion-footer-widget-column {
  margin-bottom: 5px;
}

/* line 370, assets/css/sass/tenerifeingatlan.scss */
.fusion-copyright-content ul.menu {
  margin: 0 auto;
  padding: 0;
}
/* line 374, assets/css/sass/tenerifeingatlan.scss */
.fusion-copyright-content ul.menu li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
/* line 380, assets/css/sass/tenerifeingatlan.scss */
.fusion-copyright-content ul.menu li a {
  font-size: 12px;
  padding: 5px;
  color: white;
  display: block;
  line-height: 15px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
/* line 392, assets/css/sass/tenerifeingatlan.scss */
.fusion-copyright-content ul.menu li a:hover {
  font-size: 13px;
}

/* line 398, assets/css/sass/tenerifeingatlan.scss */
.footer-right-side {
  margin-top: 15px;
}

/* line 403, assets/css/sass/tenerifeingatlan.scss */
.listing-sc h1 {
  margin: 0 0 15px 0;
}
/* line 408, assets/css/sass/tenerifeingatlan.scss */
.listing-sc .header h2 {
  text-align: center;
  font-size: 2.8em !important;
  text-transform: uppercase;
  color: #008dd2;
}
/* line 418, assets/css/sass/tenerifeingatlan.scss */
.listing-sc .listing-list-set-viewed .header h2 {
  color: #79828e !important;
}

/* line 425, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder {
  background: #ffffff;
  border: 1px solid #cccfd1;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  /* Main home style v1 */
  /* Listing style v2 */
  /* Ingatlan style floating */
  /* MOD v2 */
}
/* line 433, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-v1 {
  width: 90%;
}
/* line 435, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-v1:after {
  display: block;
  position: absolute;
  width: 100%;
  height: 10px;
  content: "";
  bottom: -10px;
  left: 50%;
  z-index: 10;
  background-image: url("../../images/searcher-shadow.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 454, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-v2 {
  width: 100%;
  margin-top: 10px;
}
/* line 459, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-floating {
  width: 320px;
  position: fixed;
  left: 0;
  top: 80px;
  z-index: 99999;
}
/* line 467, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-header {
  position: relative;
  left: -1px;
  right: -1px;
  width: 100%;
  top: 0;
  background: #008dd2;
  color: white;
}
/* line 476, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-header ul {
  margin: 0;
  padding: 0;
}
/* line 479, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-header ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-right: 5px;
}
/* line 486, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-header ul li.title {
  text-transform: uppercase;
  font-size: 1.4em;
  padding: 0 15px;
}
/* line 492, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-header ul li input[type=radio] {
  display: none;
}
/* line 496, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-header ul li label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  background: #008dd2;
  color: white;
  padding: 0 15px 0 35px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Arial';
  font-size: 1.2em;
  letter-spacing: 1px;
}
/* line 511, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-header ul li label:before {
  font-family: 'FontAwesome';
  content: "\f111";
  position: absolute;
  left: 12px;
  font-weight: normal;
  color: #c7c7c7;
  width: 20px;
  text-align: center;
}
/* line 523, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-header ul li input[type=radio]:checked + label {
  background: #0ec5c7;
}
/* line 525, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-header ul li input[type=radio]:checked + label:before {
  content: "\f192";
  color: white;
}
/* line 531, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-header ul li .ico {
  background: #007cb8;
  height: 50px;
  text-align: center;
  padding: 0 15px;
}
/* line 537, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-header ul li .ico .mobile-text {
  color: white;
  font-size: 1.3em;
  padding-left: 8px;
  text-transform: uppercase;
  font-family: 'Arial';
  font-weight: bold;
  visibility: hidden;
  position: absolute;
}
/* line 548, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-header ul li .ico i {
  color: white;
  padding: 0;
  margin: 0;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
}
/* line 558, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-header ul li:first-child {
  margin-right: 0;
}
/* line 564, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper {
  padding: 10px 15px;
}
/* line 567, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-end;
}
/* line 575, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items .inp {
  padding: 8px;
  position: relative;
}
/* line 579, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items .inp label {
  line-height: 1;
  color: #878787;
  margin-bottom: 10px;
  display: block;
}
/* line 586, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items .inp.inp-submit {
  text-align: right;
}
/* line 588, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items .inp.inp-submit button {
  color: white;
  background: #0a8c8e;
  line-height: 36px;
  padding: 0 15px;
  height: 36px;
  width: 100%;
  font-family: 'Arial';
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  font-size: 1em;
  position: relative;
  text-align: right;
}
/* line 603, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items .inp.inp-submit button i {
  background: #0ec5c7;
  position: absolute;
  left: 0;
  line-height: 24px;
  text-align: center;
  color: #fff;
  padding: 0 5px;
  margin: 6px 0 0 5px;
}
/* line 614, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items .inp.inp-submit button:hover {
  background: #0ec5c7;
  cursor: pointer;
}
/* line 621, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items .inp.inp-city {
  flex-basis: 40%;
}
/* line 624, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items .inp.inp-kategoria {
  flex-basis: 30%;
}
/* line 627, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items .inp.inp-allapot {
  flex-basis: 20%;
}
/* line 630, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items .inp.inp-status {
  flex-basis: 20%;
}
/* line 634, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items .inp.inp-rooms {
  flex-basis: 15%;
}
/* line 637, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items .inp.inp-alapterulet {
  flex-basis: 15%;
}
/* line 641, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items .inp.inp-price-min {
  flex-basis: 20%;
}
/* line 644, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items .inp.inp-price-max {
  flex-basis: 20%;
}
/* line 647, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items .inp.inp-submit {
  flex-basis: 15%;
}
/* line 654, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-wrapper .form-items input[type=text],
.listing-searcher-holder .searcher-wrapper .form-items input[type=number],
.listing-searcher-holder .searcher-wrapper .form-items select {
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding: 0 8px;
  border: 1px solid #cccccc;
  font-size: 1.2em;
  color: #0ec5c7;
}
/* line 665, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-footer {
  padding: 15px;
  background: #f2f2f2;
  border-top: 1px solid #cccfd1;
  box-shadow: inset 0 -1px 0 white;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 675, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-footer .option-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
/* line 682, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-footer .options-more {
  flex-basis: 20%;
}
/* line 683, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-footer .options-more a {
  font-size: 0.8em;
}
/* line 689, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-footer .options-selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
}
/* line 696, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-footer .options-selects > div {
  padding: 0 15px 8px 0;
}
/* line 698, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-footer .options-selects > div input[type=checkbox] + label {
  padding-left: 29px;
  font-size: 0.9em;
  color: #808080;
  line-height: 24px;
}
/* line 703, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-footer .options-selects > div input[type=checkbox] + label:before {
  color: #ffffff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  overflow: hidden;
  font-size: 20px;
  width: 20px;
  text-align: center;
  height: 20px;
}
/* line 716, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-footer .options-selects > div input[type=checkbox]:checked + label:before {
  color: #6cbf92;
  background: transparent;
  width: 24px;
  height: 24px;
  font-size: 24px;
  margin-top: 2px;
  vertical-align: middle;
}
/* line 726, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-footer .options-selects > div.secondary-param {
  display: none;
}
/* line 729, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder .searcher-footer .options-selects > div.secondary-param.show {
  display: block;
}
/* line 739, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-v2 .searcher-header, .listing-searcher-holder.style-floating .searcher-header {
  left: -1px;
  right: -1px;
}
/* line 742, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-v2 .searcher-header ul, .listing-searcher-holder.style-floating .searcher-header ul {
  width: 100%;
  background: #384040;
}
/* line 746, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-v2 .searcher-header ul li, .listing-searcher-holder.style-floating .searcher-header ul li {
  color: white;
  text-transform: uppercase;
  font-family: 'Arial';
  font-weight: bold;
}
/* line 752, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-v2 .searcher-header ul li .head-title, .listing-searcher-holder.style-floating .searcher-header ul li .head-title {
  padding-left: 15px;
  display: block;
}
/* line 761, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-v2 .searcher-footer .option-holder, .listing-searcher-holder.style-floating .searcher-footer .option-holder {
  display: block;
}
/* line 764, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-v2 .searcher-footer .options-selects, .listing-searcher-holder.style-floating .searcher-footer .options-selects {
  margin-top: 10px;
}
/* line 766, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-v2 .searcher-footer .options-selects > div, .listing-searcher-holder.style-floating .searcher-footer .options-selects > div {
  flex-basis: 50%;
}
/* line 782, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-v2 .searcher-wrapper .form-items .inp.inp-city, .listing-searcher-holder.style-v2 .searcher-wrapper .form-items .inp.inp-kategoria, .listing-searcher-holder.style-v2 .searcher-wrapper .form-items .inp.inp-status, .listing-searcher-holder.style-v2 .searcher-wrapper .form-items .inp.inp-allapot, .listing-searcher-holder.style-v2 .searcher-wrapper .form-items .inp.inp-alapterulet, .listing-searcher-holder.style-v2 .searcher-wrapper .form-items .inp.inp-rooms, .listing-searcher-holder.style-v2 .searcher-wrapper .form-items .inp.inp-price-min, .listing-searcher-holder.style-v2 .searcher-wrapper .form-items .inp.inp-price-max, .listing-searcher-holder.style-floating .searcher-wrapper .form-items .inp.inp-city, .listing-searcher-holder.style-floating .searcher-wrapper .form-items .inp.inp-kategoria, .listing-searcher-holder.style-floating .searcher-wrapper .form-items .inp.inp-status, .listing-searcher-holder.style-floating .searcher-wrapper .form-items .inp.inp-allapot, .listing-searcher-holder.style-floating .searcher-wrapper .form-items .inp.inp-alapterulet, .listing-searcher-holder.style-floating .searcher-wrapper .form-items .inp.inp-rooms, .listing-searcher-holder.style-floating .searcher-wrapper .form-items .inp.inp-price-min, .listing-searcher-holder.style-floating .searcher-wrapper .form-items .inp.inp-price-max {
  flex-basis: 50%;
}
/* line 788, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-v2 .submit button, .listing-searcher-holder.style-floating .submit button {
  display: block;
  width: 100%;
  text-align: center;
  background: #bf2121;
  color: white;
  border: none;
  padding: 15px;
  line-height: 20px;
  cursor: pointer;
  font-size: 1.2em;
  font-family: 'Arial';
  font-weight: bold;
  text-transform: uppercase;
}
/* line 803, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-v2 .submit button i, .listing-searcher-holder.style-floating .submit button i {
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
  padding: 0;
}
/* line 810, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-v2 .submit button:hover, .listing-searcher-holder.style-floating .submit button:hover {
  background: #941919;
}
/* line 815, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-floating {
  left: -320px;
}
/* line 817, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-floating .searcher-wrapper {
  padding: 5px;
}
/* line 819, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-floating .searcher-wrapper .vlabel {
  cursor: pointer;
  background: #B1241C;
  color: white;
  text-transform: uppercase;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  right: -225px;
  top: 128px;
  line-height: 1;
  font-size: 1.1em;
  padding: 15px 80px;
}
/* line 836, assets/css/sass/tenerifeingatlan.scss */
.listing-searcher-holder.style-floating.opened {
  left: 0;
}

/* line 842, assets/css/sass/tenerifeingatlan.scss */
.multi-selector-holder {
  position: absolute;
  width: 100%;
  z-index: 1000;
  display: none;
}
/* line 848, assets/css/sass/tenerifeingatlan.scss */
.multi-selector-holder.opened {
  display: block;
}
/* line 852, assets/css/sass/tenerifeingatlan.scss */
.multi-selector-holder .selector-wrapper {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-top: 1px dashed #c9c9c9;
  margin-right: 16px;
  margin-top: -1px;
  -webkit-box-shadow: 0 10px 26px -9px #8e8e8e;
  -moz-box-shadow: 0 10px 26px -9px #8e8e8e;
  box-shadow: 0 10px 26px -9px #8e8e8e;
}
/* line 863, assets/css/sass/tenerifeingatlan.scss */
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox] + label {
  padding: 5px 5px 5px 35px;
  margin: 0 0 1px 0;
  font-size: 0.8em;
  line-height: 17px;
}
/* line 869, assets/css/sass/tenerifeingatlan.scss */
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox] + label .n {
  color: #d2d2d2;
  font-size: 0.85em;
}
/* line 873, assets/css/sass/tenerifeingatlan.scss */
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox] + label:before {
  left: 10px;
}
/* line 878, assets/css/sass/tenerifeingatlan.scss */
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox] + label:hover,
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox]:checked + label {
  background: #585a5d;
  color: white;
}
/* line 882, assets/css/sass/tenerifeingatlan.scss */
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox] + label:hover:before,
.multi-selector-holder .selector-wrapper .selector-row input[type=checkbox]:checked + label:before {
  color: white;
}
/* line 887, assets/css/sass/tenerifeingatlan.scss */
.multi-selector-holder .selector-wrapper .selector-row.lvl-1 label {
  padding-left: 45px !important;
}
/* line 889, assets/css/sass/tenerifeingatlan.scss */
.multi-selector-holder .selector-wrapper .selector-row.lvl-1 label:before {
  left: 20px !important;
}
/* line 895, assets/css/sass/tenerifeingatlan.scss */
.multi-selector-holder .selector-wrapper.sel-def {
  margin-top: -2px;
  margin-right: 30px;
}

/* line 903, assets/css/sass/tenerifeingatlan.scss */
.tglwatcher {
  cursor: pointer;
}

/* line 908, assets/css/sass/tenerifeingatlan.scss */
.tglwatcher-wrapper,
.select-wrapper {
  position: relative;
  cursor: pointer;
}
/* line 912, assets/css/sass/tenerifeingatlan.scss */
.tglwatcher-wrapper:after,
.select-wrapper:after {
  pointer-events: none;
  content: "\f0d7";
  font-family: 'FontAwesome';
  right: 0;
  position: absolute;
  top: 0;
  background: #cccccc;
  height: 34px;
  width: 20px;
  text-align: center;
  line-height: 34px;
  color: #fff;
}
/* line 928, assets/css/sass/tenerifeingatlan.scss */
.tglwatcher-wrapper.tgl-def:after,
.select-wrapper.tgl-def:after {
  height: 40px;
  line-height: 40px;
}

/* line 935, assets/css/sass/tenerifeingatlan.scss */
.home-bigbox-links {
  margin: 20px -15px 0 -15px !important;
}
/* line 938, assets/css/sass/tenerifeingatlan.scss */
.home-bigbox-links .link-area-box {
  margin: 15px !important;
  padding: 0 !important;
  border: 1px solid #fff !important;
}
/* line 943, assets/css/sass/tenerifeingatlan.scss */
.home-bigbox-links .link-area-box .heading {
  margin-bottom: 0 !important;
}
/* line 945, assets/css/sass/tenerifeingatlan.scss */
.home-bigbox-links .link-area-box .heading .image {
  position: relative !important;
  overflow: hidden !important;
}
/* line 949, assets/css/sass/tenerifeingatlan.scss */
.home-bigbox-links .link-area-box .heading .image img {
  width: 102% !important;
  margin: 0 !important;
}
/* line 954, assets/css/sass/tenerifeingatlan.scss */
.home-bigbox-links .link-area-box .heading h2.content-box-heading {
  padding: 0 !important;
  background-color: #008dd2 !important;
  text-align: center !important;
  text-transform: uppercase;
  padding: 15px 0 !important;
}
/* line 963, assets/css/sass/tenerifeingatlan.scss */
.home-bigbox-links .link-area-box .content-container {
  padding: 12px !important;
  font-size: 1.35em !important;
  line-height: 1.2 !important;
  letter-spacing: -1px !important;
  text-align: justify !important;
}

/* line 972, assets/css/sass/tenerifeingatlan.scss */
.fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover .heading .heading-link h2 {
  color: white !important;
}

/* line 976, assets/css/sass/tenerifeingatlan.scss */
.prop-list {
  margin: -10px;
}
/* line 979, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* line 984, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item {
  width: calc(100% / 4);
  padding: 10px;
}
/* line 988, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper {
  position: relative;
}
/* line 990, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .top-wp {
  position: relative;
}
/* line 994, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .features > div {
  position: absolute;
  z-index: 100;
  color: white;
  font-size: 0.8em;
  padding: 4px 8px;
  pointer-events: none;
}
/* line 1003, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .features .status {
  background: #435061;
  text-transform: uppercase;
  left: 5px;
  top: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 1012, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .features .status.status-elado {
  background: #0ec5c7;
}
/* line 1015, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .features .status.status-berbeado {
  background: #ffa700;
}
/* line 1020, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .features .dropoff {
  right: 5px;
  top: 10px;
  z-index: 90;
}
/* line 1026, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .features .photo {
  bottom: 3px;
  left: 3px;
  line-height: 25px;
  z-index: 100;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 1034, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .features .photo img {
  height: 25px;
  margin-right: 5px;
}
/* line 1040, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .features .newi {
  bottom: -13px;
  line-height: 1;
  padding: 5px;
  right: 22px;
  background: #ff551a;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 1052, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .features .highlight {
  top: 0;
  right: 0;
  background: #fc4226;
}
/* line 1058, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .image {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
}
/* line 1064, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .image img {
  height: 125%;
  max-height: 125%;
  width: auto;
  max-width: initial;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 1076, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .image .excerpt {
  padding: 7px;
  font-size: 0.7em;
  line-height: 1.4;
  color: #f4f4f4;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
}
/* line 1090, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .prim-line {
  display: block;
  width: 100%;
}
/* line 1100, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .sec-line {
  display: block;
  width: 100%;
  text-align: right;
}
/* line 1105, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .sec-line > .price {
  padding: 8px 15px;
  font-size: 2.2em;
  font-family: 'Arial';
  font-weight: 700;
}
/* line 1114, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper:hover .excerpt {
  bottom: 0%;
}
/* line 1117, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper:hover .photo {
  opacity: 0.1;
  filter: alpha(opacity=10);
}
/* line 1123, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options {
  border-top: 1px solid #cccccc;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #ffffff;
}
/* line 1130, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options > .opt {
  flex-basis: 50%;
  font-size: 1em;
  padding: 5px;
  line-height: 18px;
}
/* line 1135, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options > .opt .d {
  padding: 0;
  line-height: 10px;
  font-size: 0.9em;
  color: #79828e;
  text-align: center;
}
/* line 1141, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options > .opt .d .ico {
  height: 18px;
  width: 25px;
  margin-right: 5px;
  text-align: center;
  float: left;
}
/* line 1147, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options > .opt .d .ico img {
  height: 100%;
}
/* line 1152, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options > .opt .d .t {
  line-height: 18px;
  float: left;
}
/* line 1156, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options > .opt .d .v {
  line-height: 18px;
  float: right;
  padding: 0 3px;
}
/* line 1161, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options > .opt .d .v.c {
  background: #f1f3f6;
  padding: 5px;
  font-size: 0.8em;
  line-height: 1;
  letter-spacing: -1px;
  text-align: center;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  width: 20px;
}
/* line 1177, assets/css/sass/tenerifeingatlan.scss */
.prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options > .opt:last-child {
  border-right: none;
}
/* line 1186, assets/css/sass/tenerifeingatlan.scss */
.prop-list.style-standard .prop-item-wrapper {
  border: 1px solid #d9d9d9;
}
/* line 1189, assets/css/sass/tenerifeingatlan.scss */
.prop-list.style-standard .prop-item-wrapper .dropoff {
  right: 5px !important;
  top: 10px !important;
}
/* line 1195, assets/css/sass/tenerifeingatlan.scss */
.prop-list.style-standard .prop-item-wrapper .image .excerpt {
  background: rgba(214, 44, 48, 0.8);
  padding: 10px;
  font-size: 0.8em;
  color: white;
}
/* line 1203, assets/css/sass/tenerifeingatlan.scss */
.prop-list.style-standard .prop-item-wrapper .prim-line {
  background: white;
  color: #f5f5f5;
  text-align: center;
  padding: 15px 0;
}
/* line 1209, assets/css/sass/tenerifeingatlan.scss */
.prop-list.style-standard .prop-item-wrapper .prim-line a {
  color: #008dd2;
  font-size: 1.25em;
  text-align: center;
}
/* line 1214, assets/css/sass/tenerifeingatlan.scss */
.prop-list.style-standard .prop-item-wrapper .prim-line a img {
  height: 16px;
  vertical-align: middle;
}
/* line 1220, assets/css/sass/tenerifeingatlan.scss */
.prop-list.style-standard .prop-item-wrapper .sec-line {
  background: #0b89c7;
  color: #f5f5f5;
}
/* line 1225, assets/css/sass/tenerifeingatlan.scss */
.prop-list.style-standard .prop-item-wrapper .sec-line > .linkto a {
  background: #006b9f;
  color: #f5f5f5;
}
/* line 1235, assets/css/sass/tenerifeingatlan.scss */
.prop-list.style-simple-priced .prop-item-wrapper {
  border: 1px solid #d9d9d9;
}
/* line 1237, assets/css/sass/tenerifeingatlan.scss */
.prop-list.style-simple-priced .prop-item-wrapper .image {
  height: 140px !important;
}
/* line 1239, assets/css/sass/tenerifeingatlan.scss */
.prop-list.style-simple-priced .prop-item-wrapper .image .excerpt {
  background: rgba(214, 44, 48, 0.81);
  padding: 10px;
  font-size: 0.8em;
  color: white;
}
/* line 1246, assets/css/sass/tenerifeingatlan.scss */
.prop-list.style-simple-priced .prop-item-wrapper .sec-line {
  background: #19bbbc;
  color: #f5f5f5;
}
/* line 1250, assets/css/sass/tenerifeingatlan.scss */
.prop-list.style-simple-priced .prop-item-wrapper .sec-line .price {
  flex-basis: 100% !important;
  text-align: center;
}
/* line 1260, assets/css/sass/tenerifeingatlan.scss */
.prop-list.im1 .prop-wrapper .prop-item {
  width: calc(100% / 1);
}
/* line 1268, assets/css/sass/tenerifeingatlan.scss */
.prop-list.im4 .prop-wrapper .prop-item {
  width: calc(100% / 4);
}
/* line 1275, assets/css/sass/tenerifeingatlan.scss */
.prop-list.im5 .prop-wrapper .prop-item {
  width: calc(100% / 5);
}
