/* Colors */
/* line 3, assets/css/sass/tenerifeingatlan.scss */
.fusion-header {
  position: relative;
  z-index: 100;
}

/* line 7, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-header {
  background: #47bfd6 !important;
  border-bottom-color: transparent !important;
  position: relative;
  z-index: 200;
}

/* line 13, assets/css/sass/tenerifeingatlan.scss */
.logo-slogan {
  color: #f7941f;
  font-weight: 700;
  font-size: 14px;
  margin: 2px 0 0 3px;
}

/* line 19, assets/css/sass/tenerifeingatlan.scss */
.fusion-main-menu {
  float: left;
  margin-left: 10px;
  margin-top: 27px;
}

/* line 24, assets/css/sass/tenerifeingatlan.scss */
.fusion-main-menu > ul > li > a {
  background: #1296d9;
  padding: 0 10px !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
}
/* line 31, assets/css/sass/tenerifeingatlan.scss */
.fusion-main-menu > ul > li > a:hover {
  color: white !important;
  background: #f7941f;
}
/* line 35, assets/css/sass/tenerifeingatlan.scss */
.fusion-main-menu > ul > li > a[href='/ugyfelkapu'] {
  background: #fc4226;
}

/* line 39, assets/css/sass/tenerifeingatlan.scss */
.fusion-main-menu > ul > li.current_page_item a {
  color: white !important;
  background: #f7941f;
}

/* line 44, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-menu > ul > li > a {
  text-transform: uppercase;
  font-weight: 700;
}

/* line 48, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-menu > ul {
  float: right;
}

/* line 52, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-header .custom-secondary-header-holder {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
/* line 57, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-header .custom-secondary-header-holder .top-sec-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 65, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-header .custom-secondary-header-holder .sec-header-wrap {
  width: 100%;
  height: 43px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}
/* line 73, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-header .custom-secondary-header-holder .sec-header-wrap .item.csh-socialling {
  padding-left: 15px;
}
/* line 76, assets/css/sass/tenerifeingatlan.scss */
.fusion-secondary-header .custom-secondary-header-holder .sec-header-wrap .item.csh-notify {
  padding: 0 50px;
}

/* line 84, assets/css/sass/tenerifeingatlan.scss */
#notification {
  margin: 0 auto;
  margin-top: 15px;
}
/* line 88, assets/css/sass/tenerifeingatlan.scss */
#notification li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 5px;
}
/* line 94, assets/css/sass/tenerifeingatlan.scss */
#notification li a {
  position: relative;
  display: block;
  background: #1296d9;
  color: white;
  width: 42px;
  height: 42px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
}
/* line 111, assets/css/sass/tenerifeingatlan.scss */
#notification li a .num {
  top: 0;
  right: -50%;
  transform: translateX(-50%);
  position: absolute;
  background: #e31f24;
  color: #fff;
  font-size: 10px;
  font-weight: 100;
  width: 22px;
  height: 21px;
  text-align: center;
  padding: 0;
  line-height: 22px;
  vertical-align: middle;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 30px;
}
/* line 130, assets/css/sass/tenerifeingatlan.scss */
#notification li a:before {
  content: "";
  padding-top: 15px;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 143, assets/css/sass/tenerifeingatlan.scss */
#notification li.visited-adv a {
  background: #0dc4c7;
}
/* line 148, assets/css/sass/tenerifeingatlan.scss */
#notification li a:hover {
  background: #f7941f;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 155, assets/css/sass/tenerifeingatlan.scss */
#notification li.visited-adv a:before {
  background-image: url("images/ico-history.png");
}
/* line 158, assets/css/sass/tenerifeingatlan.scss */
#notification li.new-adv a:before {
  background-image: url("images/ico-house.png");
}

/* line 164, assets/css/sass/tenerifeingatlan.scss */
.header-search, .footer-search {
  float: right;
  margin-top: 27px;
  width: 200px;
  position: relative;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
/* line 173, assets/css/sass/tenerifeingatlan.scss */
.header-search input[type=text], .footer-search input[type=text] {
  border-color: #cccfd1;
  color: #f7941f;
  width: 100%;
  line-height: 30px;
  height: 30px;
  padding: 0 8px;
  padding-right: 33px;
}
/* line 183, assets/css/sass/tenerifeingatlan.scss */
.header-search button, .footer-search button {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
/* line 195, assets/css/sass/tenerifeingatlan.scss */
.header-search button i, .footer-search button i {
  line-height: 30px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #1296d9;
}
/* line 204, assets/css/sass/tenerifeingatlan.scss */
.header-search:hover, .footer-search:hover {
  width: 240px;
}

/* line 209, assets/css/sass/tenerifeingatlan.scss */
.search-box {
  background: #fff;
}
/* line 212, assets/css/sass/tenerifeingatlan.scss */
.search-box .sb-inp-wrapper {
  padding: 0 5px;
}
/* line 216, assets/css/sass/tenerifeingatlan.scss */
.search-box .sb-header {
  background: #1296d9;
  color: white;
  font-size: 26px;
  text-transform: uppercase;
  font-size: 20px;
  padding: 8px 15px;
}
/* line 225, assets/css/sass/tenerifeingatlan.scss */
.search-box .sb-body {
  padding: 15px;
  border: 1px solid #cccfd1;
}
/* line 229, assets/css/sass/tenerifeingatlan.scss */
.search-box .sb-body label {
  font-size: 13px;
  margin-bottom: 4px;
  display: block;
  color: #878787;
}
/* line 237, assets/css/sass/tenerifeingatlan.scss */
.search-box .sb-body input[type=number],
.search-box .sb-body select {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  color: #f7941f;
}
/* line 248, assets/css/sass/tenerifeingatlan.scss */
.search-box .sb-footer {
  background: #f2f2f2;
  border: 1px solid #cccfd1;
  border-top: none;
  padding: 15px 15px;
}
/* line 254, assets/css/sass/tenerifeingatlan.scss */
.search-box .sb-footer a {
  font-size: 13px;
  color: #1296d9;
}

/* line 262, assets/css/sass/tenerifeingatlan.scss */
.footer-after-menu .social-links, .footer-after-menu .footer-search {
  display: inline-block;
  *display: inline;
  zoom: 1;
  float: right;
  height: 30px;
}
/* line 269, assets/css/sass/tenerifeingatlan.scss */
.footer-after-menu .footer-search {
  margin: 0;
  width: 250px;
}
/* line 273, assets/css/sass/tenerifeingatlan.scss */
.footer-after-menu .footer-search input[type=text] {
  height: 30px;
  line-height: 30px;
}
/* line 279, assets/css/sass/tenerifeingatlan.scss */
.footer-after-menu .social-links {
  margin: 0 25px;
}
/* line 281, assets/css/sass/tenerifeingatlan.scss */
.footer-after-menu .social-links .fusion-social-networks-wrapper {
  padding: 0 5px;
}
/* line 284, assets/css/sass/tenerifeingatlan.scss */
.footer-after-menu .social-links a {
  margin: 0 !important;
  line-height: 30px;
  color: white !important;
}

/* line 294, assets/css/sass/tenerifeingatlan.scss */
.fusion-widget-menu li a {
  text-transform: uppercase;
  text-align: center !important;
}

/* line 300, assets/css/sass/tenerifeingatlan.scss */
.fusion-footer-widget-column {
  margin-bottom: 5px;
}

/* line 306, assets/css/sass/tenerifeingatlan.scss */
.fusion-copyright-content ul.menu {
  margin: 0 auto;
  padding: 0;
}
/* line 310, assets/css/sass/tenerifeingatlan.scss */
.fusion-copyright-content ul.menu li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
/* line 316, assets/css/sass/tenerifeingatlan.scss */
.fusion-copyright-content ul.menu li a {
  font-size: 12px;
  padding: 5px;
  color: white;
  display: block;
  line-height: 15px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
/* line 328, assets/css/sass/tenerifeingatlan.scss */
.fusion-copyright-content ul.menu li a:hover {
  font-size: 13px;
}

/* line 334, assets/css/sass/tenerifeingatlan.scss */
.footer-right-side {
  margin-top: 15px;
}
