@import 'settings';

.fusion-header{
    position: relative;
    z-index: 100;
}
a.back-to-home {
    float: left;
    background: #dadada;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 8px;
    margin-right: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    &:hover {
        color: white !important;
    }
}
#wrapper .fusion-widget-area .current-menu-item > a{
  color: white;
}
.fusion-main-menu .current-menu-item > a {
  color: white;
  background: $color-orange;
}
.fusion-secondary-header {
    background: $color-header-top !important;
    border-bottom-color: transparent !important;
    position: relative;
    z-index: 200;
}
.logo-slogan {
    color: $color-orange;
    font-weight: 700;
    font-size: 14px;
    margin: 2px 0 0 3px;
}
.fusion-main-menu {
    float: right;
}
.fusion-main-menu > ul > li > a {
    background: $color-secondary;
    padding: 0 10px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 13px;
    &:hover {
        color: white !important;
        background: $color-orange;
    }
}
.fusion-main-menu > ul > li.current_page_item a{
      color: white !important;
      background: $color-orange;
}

.fusion-page-title-bar {
    background: #fff;
    border-top: none;
    border-bottom: 1px solid #e5e5e5;

    h1{
        line-height: 24px;
    }
}

.fusion-secondary-menu > ul > li > a {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Arial';
    line-height: 1;

    &[href='/admin'] {
      background: $color-red;
      font-weight: 400;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
}
.fusion-secondary-menu > ul {
   float: right;
}
.fusion-secondary-header {
    .custom-secondary-header-holder {
        position: relative;
        width: $content-width;
        margin: 0 auto;

        .top-sec-menu{
            position: absolute;
            left: 40%;
            margin-top: 6px;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .sec-header-wrap {
            width: 100%;
            height: 43px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: flex-end;
            .item {
                &.csh-socialling{
                    padding-left: 15px;
                }
                &.csh-notify{
                    padding: 0 50px;
                }
            }
        }
    }
}

#notification {
    margin: 0 auto;
    margin-top: 15px;

    li {
        display: inline-block;
        *display: inline;
        zoom: 1;
        margin: 0 5px;

        a {
            position: relative;
            display: block;
            background: $color-secondary;
            color: white;
            width: 42px;
            height: 42px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
            -webkit-box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
            box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);

            .num {
                top: 0;
                right: -50%;
                transform: translateX(-50%);
                position: absolute;
                background: $color-notify-bubble;
                color: #fff;
                font-size: 10px;
                font-weight: 100;
                width: 22px;
                height: 21px;
                text-align: center;
                padding: 0;
                line-height: 22px;
                vertical-align: middle;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 30px;
            }
            &:before {
                content: "";
                padding-top: 15px;
                width: 25px;
                height: 25px;
                margin: 0 auto;
                display: block;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &.visited-adv {
            a {
                background: $color-primary;
            }
        }

        a:hover {
            background: $color-orange;
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            transform: scale(1.1);
        }

        &.visited-adv a:before {
            background-image: url('images/ico-history.png');
        }
        &.new-adv a:before {
             background-image: url('images/ico-house.png');
        }
    }
}

.header-search, .footer-search{
    margin-top: 27px;
    width: 200px;
    position: relative;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;

    input[type=text]{
        border-color: #cccfd1;
        color: $color-orange;
        width: 100%;
        line-height: 30px;
        height: 30px;
        padding: 0 8px;
        padding-right: 33px;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 30px;
        height: 30px;
        padding: 0 10px;
        margin: 0;
        background: transparent;
        border: none;
        cursor: pointer;

        i {
            line-height: 30px;
            padding: 0;
            margin: 0;
            font-size: 18px;
            color: $color-secondary;
        }
    }

    &:hover {
        width: 350px;
    }
}

.header-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  margin:0 0 10px 0;

  .fusion-logo {
    float: none;
    flex-basis: 20%;
    margin: 0;
  }
  .side-of-logo {
    float: none;
    flex-basis: 80%;
  }
}

.header-search {
  float: right;
  width: 320px;
  margin-bottom:20px;
}
.footer-search {
  float: right;
}

.search-box {
    background: #fff;

    .sb-inp-wrapper{
        padding: 0 5px;
    }

    .sb-header {
        background: $color-secondary;
        color: white;
        font-size: 26px;
        text-transform: uppercase;
        font-size: 20px;
        padding: 8px 15px;
    }

    .sb-body {
        padding: 15px;
        border: 1px solid #cccfd1;

        label {
            font-size: 13px;
            margin-bottom: 4px;
            display: block;
            color: #878787;
        }

        input[type=number],
        select {
            width: 100%;
            height:40px;
            line-height: 40px;
            padding: 0 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            color: $color-orange;
        }
    }

    .sb-footer{
        background: #f2f2f2;
        border: 1px solid #cccfd1;
        border-top: none;
        padding: 15px 15px;

        a {
            font-size: 13px;
            color: $color-secondary;
        }
    }
}

.footer-after-menu {
    .social-links, .footer-search {
        display: inline-block;
        *display: inline;
        zoom:1;
        float: right;
        height: 30px;
    }
    .footer-search{
        margin: 0;
        width: 250px;

        input[type=text] {
            height:30px;
            line-height:30px;
        }
    }

    .social-links{
        margin: 0 25px;
        .fusion-social-networks-wrapper{
            padding: 0 5px;
        }
        a {
            margin: 0 !important;
            line-height: 30px;
            color: white !important;
        }
    }
}

.fusion-widget-menu{
    li{
        a{
            text-transform: uppercase;
            text-align:center !important;
        }
    }
}
.fusion-footer-widget-column{
    margin-bottom: 5px;
}
.fusion-copyright-content{
    ul.menu {
        margin: 0 auto;
        padding: 0;

        li {
            display: inline-block;
            *display: inline;
            zoom: 1;
            vertical-align: middle;

            a{
                font-size: 12px;
                padding: 5px;
                color: white;
                display: block;
                line-height: 15px;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                transition: all .3s;
                text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
            }

            a:hover {
                font-size: 13px;
            }
        }
    }
}
.footer-right-side {
    margin-top: 15px;
}

.listing-sc{
  h1 {
    margin: 0 0 15px 0;
  }

  .header {
    .morev{
      float: right;
      padding: 10px;

      a{
        color: $color-secondary;
      }
    }
    h2 {
      text-align: center;
      font-size: 2.8em !important;
      text-transform: uppercase;
      color: $color-secondary;
    }
  }

  .listing-list-set-viewed{
    .header {
      h2 {
        color: #79828e !important;
      }
    }
  }
}

body.ingatlan_page {
  #main {
    background: #ffffff;
    padding: 0 !important;

    .fusion-row {
      width: 100% !important;
      max-width: initial !important;

      .page-holder{
        max-width: 1200px;
        margin: 0 auto;
      }
    }

    .data-main-holder{
      background: #e9eff2;
      padding: 20px 0;
      border: 1px solid #dedede;
      border-left: none;
      border-right: none;
    }
  }
}

.ingatlan-page-view{
  .history-list{
    padding: 20px 0;

    .header {
      padding: 0 0 25px 0;

      h2 {
        font-size: 2.2em !important;
      }
    }
  }
  .fusion-tabs {

    .nav {
      background: #cbcbcb;
      margin-bottom: -1px;

      .nav-tabs{
        background: transparent !important;
        border: none !important;

        li .tab-link {
          background: transparent !important;
          border: none !important;
          border-left: 1px solid #ffffff !important;
          color: white !important;
          text-transform: uppercase;

          h4 {
            color: white !important;
            font-size: 1.2em !important;
          }
        }
        li.active + li .tab-link,
        li:first-child .tab-link {
          border-left: none !important;
        }
        li.active .tab-link {
          background: #ffffff !important;
          border: 1px solid $color-primary !important;
          border-bottom: 1px solid #ffffff !important;
          h4 {
            color: $color-primary !important;
          }
        }
      }
    }

    .tab-content{
      .tab-pane {
        padding: 0 !important;
        background: #ffffff;
        border: 1px solid $color-primary !important;
        .pad {
          padding: 15px !important;
        }
      }
    }
  }

  .data-top,
  .data-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

    & > .data-top-left {
      flex-basis: 60%;

      .cwrapper{
        padding-right: 10px;
        position: relative;
        .images{
          .profil {
            position: relative;
            height: 520px;
            overflow: hidden;

            img{
              position: absolute;
              left: 50%;
              top: 50%;
              width: 110%;
              max-width: 110%;
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
            }
          }
          .stack {
            .stack-wrapper{
              .items {
                width: 100%;
                table-layout: fixed;
                display: table;
                margin-top: -25px;
              }
            }
          }
        }
      }
    }
    & > .data-top-right {
      flex-basis: 40%;

      .title{
        margin: 0 0 5px 0;
        position:relative;
        h1 {
          margin: 0 0 5px 0;
          font-size: 2em;
          line-height: 1;
          color: #78818d;
          font-family: 'Arial';
          font-weight: bold;
          letter-spacing: -1px;
        }

        .subtitle {
          font-size: 1.2em;
          line-height: 1.3;

          .addr{
            font-family: 'Arial';
            font-weight: bold !important;
            color: $color-secondary;
            margin-right: 15px;
          }
        }

        .icons {
          position: absolute;
          right: 0;
          top: 0;
          & > div {
            display: inline-block;
            *display: inline;
            zoom: 1;
            margin-left: 5px;

            a {
              display: block;
              background: #bbb;
              line-height: 52px;
              height: 52px;
              width: 52px;
              text-align: center;
              color: #757575;
              font-size: 22px;

              i {
                margin: 0;
                padding: 0;
              }
            }
            &.facebook {
              a{
                background: #0061ad;
                color: white;
                &:hover{
                  background: darken(#0061ad, 10%);
                }
              }
            }
            &.gplus {
              a{
                background: #bf2121;
                color: white;
                &:hover{
                  background: darken(#bf2121, 10%);
                }
              }
            }
          }
        }
      }
    }

    & > .data-main-left {
      flex-basis: 70%;
    }
    & > .data-main-right {
      flex-basis: 30%;
    }
  }

  .data-top {
    padding: 20px 0;
  }

  .data-main{
    margin: 25px 0 20px 0;
  }

  .properties{
    .list{
      border: 1px solid #d7d7d7;

      display: flex;
      flex-wrap: wrap;

      .e{
        border-bottom: 1px solid #e0dede;
        border-right: 1px solid #e0dede;
        padding: 11px 0;
        font-size: 0.94em;
        flex-basis: calc(100% / 3);

        .h,
        .v {
          text-align: center;
          .na {
            font-style: italic;
            font-weight: normal;
            color: #949494;
            font-size: 0.9em;
            letter-spacing: -0.4px;
          }
        }

        &.price {
          flex-basis: 66.6666%;
          background: $color-secondary;
          text-align: right;
          color: white;
          font-weight: bold;
          font-family: 'Arial';
          padding: 8px;
          line-height: 65px;
          .current-price {
            font-size: 2.3em;
            line-height: 65px;
          }
        }
        &:nth-child(3) {
          border-right: none;
        }
      }

      .h{
        color:#7d818d;
        font-size: 0.9em;
        .ico {
          text-align: center;

          img{
            width: 20px;
            height: 20px;
          }
        }
      }

      .v{
        font-weight: bold;
        font-size: 1.2em;
        font-family: 'Arial';
        color: #686868;
      }

    }

  }

  .contact{
    background: #EFEFEF;
    padding: 15px;
    text-align: left;
    border: 1px solid #C1C4C6;
    border-top: none;
    line-height: 1.6;
    color: #767676;

    i {
      margin-right: 8px;
      color: #8c8c8c;
    }

    .title {
      color: $color-secondary;
      margin-bottom: 10px;
      font-size: 1.5em;
    }
    .name {
      font-size: 1.1em;
      color: black;
    }
    .phone{
      font-size: 1.45em;
      color: #444444;
      font-weight: bold;
      font-family: 'Arial';

      i{color: $color-secondary;}
    }
    .email{
      a, a:link, a:visited {
        font-size: 0.9em;
        color: $color-secondary !important;
      }
    }
  }

  .description-block{
    border:1px solid #e0dede;
    margin-right: 5px;
    margin-bottom: 12px;

    .head{
      border-bottom: 1px solid #e0dede;
      background: #F9F9F9;
      line-height: 50px;
      color: $color-primary;
      font-size: 1.2em;

      .ico {
        float: left;
        border-right: 1px solid #e0dede;
        text-align: center;
        width: 50px;
        margin-right: 15px;

        i{
          font-size: 24px;
          margin: 0;
          padding: 0;
          vertical-align: middle;
        }
      }
    }

    .text {
      padding: 15px;
      font-size: 0.9em;
      color: black;

      strong{
        font-family: 'Arial';
        font-weight: bold;
      }

      &.doc-list {
        padding: 8px;
        .doc a {
          display: block;
          border-bottom: 1px solid #f1f1f1;
          padding: 8px;
          line-height: 1;
          color: #747474;

          i {
            margin-right: 5px;
          }

          .doc-info {
            float: right;
            color: #bdbdbd;
            font-size: 0.9em;
          }

          &:hover {
            background: #f1f1f1;
          }
        }
        .doc:last-child a{
          border-bottom: none;
        }
      }
    }
  }

  .map-block{
    border: 1px solid #e0dede;
    min-height: 200px;
    margin-left: 5px;
    background: #ffffff;

    .head {
      background: #ffffff;
      padding: 10px;
      color: $color-primary;
      font-size: 1.3em;
      line-height: 1;
      text-transform: uppercase;
      border-bottom: 1px solid #e0dede;

      i {
        margin: 0 8px 0 5px;
      }
    }
  }

  .history-list{
    .header {
      text-align: center;
      h2{
        margin: 0;
      }
    }
  }
}

.listing-slider-holder{
  width: 100%;
  position: relative;
  background: #c7c7c7;
  color: white;

  .slider-inside-holder{
    width: $content-width;
    margin: 0 auto;
  }

  &.style-v1 {
    height: 450px;
    max-height: 450px;
    overflow: hidden;
    padding: 20px;
    font-size: 1.3em;
  }
}

.listing-searcher-holder {
  background: #ffffff;
  border: 1px solid #cccfd1;
  margin: 0 auto;
  position: relative;
  z-index: 100;

  /* Main home style v1 */
  &.style-v1 {
    width: 90%;
    margin-top: -71px;
    &:after {
      display: block;
      position: absolute;
      width: 100%;
      height: 10px;
      content: "";
      bottom: -10px;
      left: 50%;
      z-index: 10;
      background-image: url("../../images/searcher-shadow.png");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100%;
      -webkit-transform:translateX(-50%);
      -moz-transform:translateX(-50%);
      transform:translateX(-50%);
    }
  }
  /* Listing style v2 */
  &.style-v2 {
    width: 100%;
    margin-top: 10px;
  }
  /* Ingatlan style floating */
  &.style-floating {
    width: 320px;
    position: fixed;
    left: 0;
    top: 80px;
    z-index: 99999;
  }

  .searcher-header{
    position: relative;;
    left: -1px;
    right: -1px;
    width: 100%;
    top: 0;
    background: $color-secondary;
    color: white;

    ul {
      margin: 0;
      padding: 0;
      li {
        display:inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle;
        margin-right: 5px;

        &.title{
          text-transform: uppercase;
          font-size: 1.4em;
          padding: 0 15px;
        }

        input[type=radio] {
          display: none;
        }

        label {
          cursor: pointer;
          position: relative;
          display: block;
          height: 50px;
          line-height: 50px;
          background: $color-secondary;
          color: white;
          padding: 0 15px 0 35px;
          text-transform: uppercase;
          font-weight: bold;
          font-family: 'Arial';
          font-size: 1.2em;
          letter-spacing: 1px;

          &:before {
            font-family: 'FontAwesome';
            content:"\f111";
            position: absolute;
            left: 12px;
            font-weight: normal;
            color: #c7c7c7;
            width: 20px;
            text-align: center;
          }
        }

        input[type=radio]:checked + label {
          background: $color-primary;
          &:before {
            content:"\f192";
            color: white;
          }
        }

        .ico {
          background: darken($color-secondary, 5%);
          height: 50px;
          text-align: center;
          padding: 0 15px;

          .mobile-text{
            color: white;
            font-size: 1.3em;
            padding-left: 8px;
            text-transform: uppercase;
            font-family: 'Arial';
            font-weight: bold;
            visibility: hidden;
            position: absolute;
          }

          i{
            color: white;
            padding: 0;
            margin: 0;
            height: 50px;
            font-size: 24px;
            line-height: 50px;
          }
        }

        &:first-child{
          margin-right: 0;
        }
      }
    }
  }
  .searcher-wrapper {
    padding: 10px 15px;

    .form-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: flex-end;

      .inp {
        padding: 8px;
        position: relative;

        label {
          line-height: 1;
          color: #878787;
          margin-bottom: 10px;
          display: block;
        }

        &.inp-submit{
          text-align: right;
          button{
            color: white;
            background: darken($color-primary, 0%);
            line-height: 36px;
            padding: 0 15px;
            height: 36px;
            width: 100%;
            font-family: 'Arial';
            text-transform: uppercase;
            font-weight: bold;
            border: none;
            font-size: 1em;
            position: relative;
            text-align: right;

            i{
              background: $color-primary;
              position: absolute;
              left: 0;
              line-height: 24px;
              text-align: center;
              color: #fff;
              padding: 0 5px;
              margin: 6px 0 0 5px;
            }

            &:hover {
              background: $color-primary;
              cursor: pointer;
            }
          }
        }

        &.inp-city{
          flex-basis: 40%
        }
        &.inp-kategoria{
          flex-basis: 30%;
        }
        &.inp-allapot{
          flex-basis: 30%;
        }
        &.inp-status{
          flex-basis: 30%;
        }

        &.inp-rooms{
          flex-basis: 20%;
        }
        &.inp-alapterulet{
          flex-basis: 15%;
        }

        &.inp-price-min{
          flex-basis: 25%;
        }
        &.inp-price-max{
          flex-basis: 25%;
        }
        &.inp-submit{
          flex-basis: 15%;
          button {
            float: right;
          }
        }
      }

      input[type=text],
      input[type=number],
      select {
        width: 100%;
        height: 35px;
        line-height: 35px;
        padding: 0 8px;
        border: 1px solid #cccccc;
        font-size: 1.2em;
        color: $color-primary;
      }
    }
  }
  .searcher-footer {
    padding: 15px;
    background: #f2f2f2;
    border-top: 1px solid #cccfd1;
    box-shadow: inset 0 -1px 0 #fff;
    line-height: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .option-holder{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
    }

    .options-more{
      a{
        font-size: 0.8em;
      }
      flex-basis: 20%;
    }

    .options-selects{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      flex-basis: 80%;

      & > div {
        padding: 0 15px 8px 0;
        input[type=checkbox] + label{
          padding-left: 29px;
          font-size: 0.9em;
          color: #808080;
          line-height: 24px;
          &:before {
            color: #ffffff;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            overflow: hidden;
            font-size: 20px;
            width: 20px;
            text-align: center;
            height: 20px;
          }
        }
        input[type=checkbox]:checked + label{
          &:before {
            color: #6cbf92;
            background: transparent;
            width: 24px;
            height: 24px;
            font-size: 24px;
            margin-top: 2px;
            vertical-align: middle;
          }
        }
        &.secondary-param {
          display: none;

          &.show {
            display: block;
          }
        }
      }
    }
  }

  /* MOD v2 */
  &.style-v2, &.style-floating {
    .searcher-header {
      left: -1px;
      right: -1px;
      ul {
        width: 100%;
        background: #384040;

        li {
          color: white;
          text-transform: uppercase;
          font-family: 'Arial';
          font-weight: bold;

          .head-title {
            padding-left: 15px;
            display: block;
          }
        }
      }
    }

    .searcher-footer{
      .option-holder {
        display: block;
      }
      .options-selects {
        margin-top: 10px;
        & > div {
          flex-basis: 50%;
        }
      }
    }

    .searcher-wrapper{
      .form-items{
        .inp{
          &.inp-city,
          &.inp-kategoria,
          &.inp-status,
          &.inp-allapot,
          &.inp-alapterulet,
          &.inp-rooms,
          &.inp-price-min,
          &.inp-price-max{
            flex-basis: 50%;
          }
        }
      }
    }
    .submit button {
      display: block;
      width: 100%;
      text-align: center;
      background: #bf2121;
      color: white;
      border: none;
      padding: 15px;
      line-height: 20px;
      cursor: pointer;
      font-size: 1.2em;
      font-family: 'Arial';
      font-weight: bold;
      text-transform: uppercase;

      i {
        font-size: 20px;
        line-height: 20px;
        margin-right: 10px;
        padding: 0;
      }

      &:hover {
        background: darken(#bf2121, 10%);
      }
    }
  }
  &.style-floating {
    left: -320px;
    .searcher-wrapper{
      padding: 5px;
      .vlabel {
        cursor: pointer;
        background: #B1241C;
        color: white;
        text-transform: uppercase;
        position: absolute;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
        right: -225px;
        top: 128px;
        line-height: 1;
        font-size: 1.1em;
        padding: 15px 80px;
      }
    }

    &.opened{
      left: 0;
    }
  }
}

input[type=checkbox]{
  display: none;
}
input[type=checkbox] + label {
  cursor: pointer;
  position: relative;
  padding-left: 24px;

  &:before {
    content: "\f096";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    font-size: 18px;
    color: #a7a7a7;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }
}
input[type=checkbox]:checked + label {
  &:before {
    content: "\f046";
    color: #000000;
  }
}

.multi-selector-holder{
  position: absolute;
  width: 100%;
  z-index: 1000;
  display: none;

  &.opened {
    display: block;
  }

  .selector-wrapper {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-top: 1px dashed #c9c9c9;
    margin-right: 16px;
    margin-top: -1px;
    -webkit-box-shadow: 0 10px 26px -9px #8e8e8e;
    -moz-box-shadow: 0 10px 26px -9px #8e8e8e;
    box-shadow: 0 10px 26px -9px #8e8e8e;

    .selector-row {
      input[type=checkbox] + label{
        padding: 5px 5px 5px 35px;
        margin: 0 0 1px 0;
        font-size: 0.8em;
        line-height: 17px;

        .n {
          color: #d2d2d2;
          font-size: 0.85em;
        }
        &:before {
          left: 10px;
        }
      }
      input[type=checkbox] + label:hover,
      input[type=checkbox]:checked + label {
        background: #585a5d;
        color: white;

        &:before {
          color: white;
        }
      }
      &.lvl-1{
        label {
          padding-left: 45px !important;
          &:before {
            left: 20px !important;
          }
        }
      }
    }
    &.sel-def{
      margin-top: -2px;
      margin-right: 30px;
    }
  }
}


.tglwatcher{
  cursor: pointer;
}

.tglwatcher-wrapper,
.select-wrapper{
  position: relative;
  cursor: pointer;

  &:after {
    pointer-events: none;
    content:"\f0d7";
    font-family: 'FontAwesome';
    right: 0;
    position: absolute;
    top: 0;
    background: #cccccc;
    height: 34px;
    width: 20px;
    text-align: center;
    line-height: 34px;
    color: #fff;
  }

  &.tgl-def {
    &:after {
      height: 40px;
      line-height: 40px;
    }
  }
}

.home-bigbox-links{
  margin: 20px -15px 0 -15px !important;

  .link-area-box {
    margin: 15px !important;
    padding: 0 !important;
    border: 1px solid #fff !important;

    .heading {
      margin-bottom: 0 !important;
      .image {
        position: relative !important;
        overflow: hidden !important;

        img {
          width: 102% !important;
          margin: 0 !important;
        }
      }
      h2.content-box-heading {
        padding: 0 !important;
        background-color: $color-secondary !important;
        text-align: center !important;
        text-transform: uppercase;
        padding: 15px 0 !important;
      }
    }

    .content-container{
      padding: 12px !important;
      font-size: 1.35em !important;
      line-height: 1.2 !important;
      letter-spacing: -1px !important;
      text-align: justify !important;
    }
  }
}
.fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover .heading .heading-link h2{
  color: white !important;
}

.prop-list {
  margin: -10px;

  .prop-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & > .prop-item {
      width: calc(100% / 4);
      padding: 10px;

      .prop-item-wrapper {
        position: relative;
        .top-wp {
          position: relative;
        }
        .features{
          & > div {
            position: absolute;
            z-index: 100;
            color: white;
            font-size: 0.8em;
            padding: 4px 8px;
            pointer-events: none;
          }

          .status {
            background: #435061;
            text-transform: uppercase;
            left: 5px;
            top: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;

            &.status-elado {
              background: $color-primary;
            }
            &.status-berbeado {
              background: #ffa700;
            }
          }

          .dropoff {
            right: 5px;
            top: 10px;
            z-index: 90;
          }

          .photo {
            bottom: 3px;
            left: 3px;
            line-height: 25px;
            z-index: 100;
            opacity: 1;
            filter: alpha(opacity=100);

            img{
              height: 25px;
              margin-right: 5px;
            }
          }

          .newi {
            bottom: -13px;
            line-height: 1;
            padding: 5px;
            right: 22px;
            background: #ff551a;
            text-transform: uppercase;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
          }

          .highlight{
            top: 0;
            right: 0;
            background: $color-red;
          }
        }
        .image{
          position: relative;
          width: 100%;
          height: 240px;
          overflow: hidden;

          img {
            height: 125%;
            max-height: 125%;
            width: auto;
            max-width: initial;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
          .excerpt {
            padding: 7px;
            font-size: 0.7em;
            line-height: 1.4;
            color: #f4f4f4;
            position: absolute;
            bottom: -100%;
            left: 0;
            right: 0;
            width: 100%;
            pointer-events: none;
          }
        }

        .prim-line {
          display: block;
          width: 100%;

          .pos {
            .region {

            }
          }
        }
        .sec-line {
          display: block;
          width: 100%;
          text-align: right;

          & > .price {
            padding: 8px 15px;
            font-size: 2.2em;
            font-family: 'Arial';
            font-weight: 700;
          }
        }

        &:hover {
          .excerpt {
            bottom: 0%;
          }
          .photo {
            opacity: 0.1;
            filter: alpha(opacity=10);
          }
        }

        .important-options{
          border-top: 1px solid #cccccc;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          background: #ffffff;

          & > .opt {
            flex-basis: 50%;
            font-size: 1em;
            padding: 5px;
            line-height: 18px;
            .d {
              padding: 0;
              line-height: 10px;
              font-size: 0.9em;
              color: #79828e;
              text-align: center;
              .ico {
                height: 18px;
                width: 25px;
                margin-right: 5px;
                text-align: center;
                float: left;
                img {
                  height: 100%;
                }
              }

              .t {
                line-height: 18px;
                float: left;
              }
              .v {
                line-height: 18px;
                float: right;
                padding: 0 3px;

                &.c {
                  background: #f1f3f6;
                  padding: 5px;
                  font-size: 0.8em;
                  line-height: 1;
                  letter-spacing: -1px;
                  text-align: center;
                  -moz-border-radius: 15px;
                  -webkit-border-radius: 15px;
                  border-radius: 15px;
                  width: 20px;
                }
              }
            }
          }

          & > .opt:last-child{
            border-right: none;
          }
        }
      }
    }
  }

  &.style-standard {
    .prop-item-wrapper {
      border: 1px solid #d9d9d9;

      .dropoff {
        right: 5px !important;
        top: 10px !important;
      }

      .image{
        .excerpt {
          background: rgba(214, 44, 48, 0.8);
          padding: 10px;
          font-size: 0.8em;
          color: white;
        }
      }

      .prim-line{
        background: white;
        color: #f5f5f5;
        text-align: center;
        padding: 15px 0;

        a {
          color: $color-secondary;
          font-size: 1.25em;
          text-align: center;

          img {
            height: 16px;
            vertical-align: middle;
          }
        }
      }
      .sec-line{
        background: desaturate($color-secondary, 10);
        color: #f5f5f5;

        & > .linkto{
          a {
            background: darken($color-secondary, 10%);
            color: #f5f5f5;
          }
        }
      }
    }
  }

  &.style-simple-priced {
    .prop-item-wrapper {
      border: 1px solid #d9d9d9;
      .image{
        height: 140px !important;
        .excerpt {
          background: rgba(214, 44, 48, 0.81);
          padding: 10px;
          font-size: 0.8em;
          color: white;
        }
      }
      .sec-line{
        background: desaturate($color-primary, 10);
        color: #f5f5f5;

        .price {
          flex-basis: 100% !important;
          text-align: center;
        }
      }
    }
  }

  &.im1{
    .prop-wrapper{
      .prop-item{
          width: calc(100% / 1);
      }
    }
  }

  &.im3{
    .prop-wrapper{
      .prop-item{
          width: calc(100% / 3);
      }
    }
  }

  &.im4{
    .prop-wrapper{
      .prop-item{
          width: calc(100% / 4);
      }
    }
  }
  &.im5{
    .prop-wrapper{
      .prop-item{
          width: calc(100% / 5);
      }
    }
  }
}
